# Python environment
venv/
venv-py311/
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
.env
.env.local
.venv
env.bak/
venv.bak/

# Distribution / packaging
dist/
build/
*.egg-info/

# Local development settings
.idea/
.vscode/
*.swp
.DS_Store 